.projects_circleOne{
    width: 250px;
    height: 250px;
    background: var(--circle-one);
    bottom: 0%;
    right: 0%;
}

.projects_circleThree{
    width: 200px;
    height: 200px;
    background: var(--circle-two);
    top: 0%;
    left: 0%;
}

.projects_container{
    row-gap: 2rem;
}

.projects_img{
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: 0.5rem;
    overflow: hidden;
}

.projects_img img{
    transition: 1s;
    cursor: pointer;
}

.projects_img img:hover{
    transform: scale(1.1);
}

@media screen and (min-width: 768px){
    .projects_container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2rem;
    }
}