.about_circleOne {
  width: 250px;
  height: 250px;
  background: var(--circle-one);
  right: 0%;
  top: 0%;
}

.about_circleThree {
  width: 200px;
  height: 200px;
  background: var(--circle-two);
  bottom: 0%;
  left: 0%;
}

.about_container {
  row-gap: 2rem;
  text-align: center;
}

.about_image {
  justify-self: center;
  position: relative;
}

.about_image img {
  width: 250px;
  height: 350px;
  border-radius: 10px;
  filter: drop-shadow(20px -20px 5px var(--first-color));
}

.about_text_section .about_subtitle {
  margin-bottom: var(--mb-2);
  color: var(--second-color);
}

.about_text_section .about_subtitle span {
  color: var(--first-color);
  font-size: 3rem;
}
